@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #805a3b;
  font-family: 'Oxygen', sans-serif;
}

.quote-box {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: fit-content;
  padding: 40px;
  background-color: #fd974f;
  border-radius: 10px;
}

.quote-box__text {
  overflow-wrap: break-word;
  margin: 0 0 25px 0;
  color: #fef2e4;
  font-size: 2rem;
}

.quote-box__author {
  text-align: end;
  margin: 0 0 25px 0;
  color: #fef2e4;
  font-size: 1.5rem;
}

.quote-box__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quote-box__button {
  width: 90px;
  height: 40px;
  color: #fef2e4;
  background-color: #c60000;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 15px;
}

.quote-box__button:hover {
  cursor: pointer;
  background-color: #ce2a2a;
}

.quote-box-enter {
  opacity: 0;
}

.quote-box-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.quote-box-exit {
  opacity: 1;
}

.quote-box-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}